{% load static %}  
  
  <!--features-->
  <section class="features py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
          <div class="py-5">
            <i class="fas fa-leaf" style="font-size: 38px; color: green;"></i>
            <h4 class="element-title text-capitalize my-3">Sustainable and Ethical</h4>
            <p>Eco-conscious materials and ethical sourcing.</p>
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
          <div class="py-5">
            <i class="fas fa-award" style="color: orange; font-size: 38px;"></i>
            <h4 class="element-title text-capitalize my-3">Quality and Reliability</h4>
            <p>Premium fabrics and strict quality control.</p>
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
          <div class="py-5">
            <i class="fas fa-lightbulb" style="color: #f4c430; font-size: 38px;"></i>
            <h4 class="element-title text-capitalize my-3">Innovation and Tradition</h4>
            <p>Modern techniques and heritage craftsmanship.</p>
          </div>
        </div>
        <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
          <div class="py-5">
            <i class="fas fa-tshirt" style="color: rgb(0, 102, 255); font-size: 38px;"></i>
            <h4 class="element-title text-capitalize my-3">Style and Substance</h4>
            <p>Elegant aesthetics and practical functionality.</p>
          </div>
        </div>
      </div>
    </div>
  </section>