{% extends 'base.html' %}
{% load static %}
{% block title %}About Us{% endblock title %}
{% block content %}




<section class="hero-section jarallax">
    <img src="{% static 'images/banner-large-2.jpg' %}" class="jarallax-img">
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="d-flex flex-wrap flex-column justify-content-center align-items-center my-5 py-5 text-white">
            <h1 class="page-title text-uppercase">About Us</h1>
            <nav class="breadcrumb text-white">
              <a class="breadcrumb-item" href="/">Home</a>
              <span class="breadcrumb-item active" aria-current="page">About Us</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>

<!--features-->
{% include 'partials/features.html' %}

  <section id="about-us">
    <div class="vertical-element">
      <div class="container">
        <div class="row d-flex align-items-center">
          <div class="col-md-6">
            <div class="image-holder">
              <img src="{% static 'images/single-image1.jpg' %}" alt="about-us">
            </div>
          </div>
          <div class="col-md-6">
            <div class="section-element p-5">
              <h2 class="element-title text-uppercase">The beginning of our journey</h2>
              <p>At Cerculean, we're a family-run apparel sourcing partner specialising in sustainable and regenerative solutions for UK and European brands. With over 20 years of expertise, we streamline global supply chains—managing ethical procurement, quality control, and on-time delivery from concept to consumer.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="vertical-element py-5">
      <div class="container">
        <div class="row d-flex align-items-center justify-content-between">
          <div class="col-md-6">
            <div class="section-element p-5">
              <h2 class="element-title text-uppercase">Who are we?</h2>
              <p>We source high-quality, ethically produced garments—including denim, jerseywear, polos, casualwear, dresses, and activewear—from certified mills and vertically integrated factories. Our end-to-end service covers fabric development, garment engineering, compliance, and in-line quality checks. We bridge creativity with technical precision, helping clients select eco-conscious materials like organic cotton, recycled polyester, TENCEL™️, and BCI-certified yarns. Skilled in tech packs, MOQ management, and AQL standards, we act as your seamless extension—ensuring scalable, responsible production without compromising quality or innovation.</p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="image-holder text-right">
              <img src="{% static 'images/single-image2.jpg' %}" alt="about-us">
            </div>
          </div>
        </div>
      </div>  
    </div>
  </section> 
{% endblock %}