{% extends 'base.html' %}
{% load static %}
{% block title %}{{blog.title}}{% endblock title %}
{% block content %}

  
<section class="hero-section mt-5 py-5">
    <div class="hero-content">
      <div class="container">
        <div class="row text-center">
          <div class="post-meta text-uppercase my-3">
            <span class="post-category">Fashion</span> / <span class="meta-date">{{blog.created_at|date:"d M, Y"}}</span>
          </div>
          <h1 class="post-title text-uppercase">
            <a href="#">{{blog.title}}</a>
          </h1>
          <nav class="breadcrumb justify-content-center">
            <a class="breadcrumb-item" href="/">Home</a>
            <a class="breadcrumb-item" href="/blog/">Blog</a>
            <span class="breadcrumb-item active" aria-current="page">Blog Details</span>
          </nav>
        </div>
      </div>
    </div>
  </section>
  
  <div class="post-wrap py-5 no-padding-bottom">
    <div class="container">
      <div class="row g-5">
        <main class="post-grid col-md-8 offset-md-2">
          <div class="row">
            <article class="post-item">
              <div class="hero-image">
                <img src="{{blog.image.url}}" alt="single-post" class="img-fluid">
              </div>
              <div class="post-content py-5">
                <div class="post-description">
                  <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Consectetur facilisis vivamus massa magna. Blandit mauris libero condimentum commodo morbi consectetur sociis convallis sit. Magna diam amet justo sed vel dolor et volutpat integer. Iaculis sit sapien hac odio elementum egestas neque. Adipiscing purus euismod orci sem amet, et. Turpis erat ornare nisi laoreet est euismod.</p>
                  <p>Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus, vel. Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in vestibulum erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae neque bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt tellus sit ornare. Purus ut quis sed venenatis eget ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt nunc integer sit.</p>
                  <blockquote>“Sit suscipit tortor turpis sed fringilla lectus facilisis amet. Ipsum, amet dolor curabitur non aliquet orci urna volutpat. Id aliquam neque, ut vivamus sit imperdiet enim, lacus, vel.</blockquote>
                  <h4>Consectetur Facilisis Vivamus</h4>
                  <ul class="inner-list">
                    <li>Blandit mauris libero condimentum commodo sociis convallis sit.</li>
                    <li>Magna diam amet justo sed vel dolor et volutpat integer.</li>
                    <li>Laculis sit sapien hac odio elementum egestas neque.</li>
                  </ul>
                  <p>Morbi arcu amet, nulla fermentum vitae mattis arcu mi convallis. Urna in sollicitudin in vestibulum erat. Turpis faucibus augue ipsum, at aliquam. Cras sagittis tellus nunc integer vitae neque bibendum eget. Tempus malesuada et pellentesque maecenas. Sociis porttitor elit tincidunt tellus sit ornare. Purus ut ipsum, enim lacus. Praesent imperdiet vitae eu, eu tincidunt nunc integer sit.</p>
                  <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus. Nunc tempus feugiat massa laoreet ultrices diam magna quam. Congue auctor auctor luctus neque. Enim lorem ultrices diam donec. Sed id placerat consectetur faucibus.</p>
                  <img src="images/single-image3.jpg" alt="post-image" class="align-left">
                  <h4>Velit, praesent pharetra malesuada</h4>
                  <p>Id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                  <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                  <p>Velit, praesent pharetra malesuada id pulvinar amet. Consequat potenti mollis massa iaculis et, dolor, eget lectus. Aliquam pellentesque molestie felis fames sed eget non euismod eget. Et eget ullamcorper urna, elit ac diam tellus viverra lacus.</p>
                  <p>Tortor diam dignissim amet, in interdum aliquet. Magnis dictum et eros purus fermentum, massa ullamcorper sit sollicitudin. Nascetur libero elementum adipiscing mauris maecenas et magna. Etiam nec, rutrum a diam lacus, nunc integer etiam. Mattis pulvinar non viverra donec pellentesque. Odio mi consequat libero dolor. Porta ut diam lobortis eget leo, lectus.</p>
                  <div class="post-bottom-link d-flex justify-content-between">
                    <div class="block-tag">
                      <ul class="list-unstyled d-flex">
                        <li>
                          <a href="#">Denim</a>
                        </li>
                        <li>
                          <a href="#">Trending</a>
                        </li>
                        <li>
                          <a href="#">Clothing</a>
                        </li>
                      </ul>
                    </div>
                    <div class="block-social-links d-flex align-items-baseline">
                      <div class="element-title text-uppercase">Share:</div>
                      <ul class="list-unstyled d-flex">
                        <li>
                          <a href="#">Facebook</a>
                        </li>
                        <li>
                          <a href="#">Twitter</a>
                        </li>
                        <li>
                          <a href="#">Pinterest</a>
                        </li>
                        <li>
                          <a href="#">Youtube</a>
                        </li>
                      </ul>
                    </div>
                  </div> -->
                  {{blog.description|safe}}
                </div>
              </div>
            </article>
          </div>
        </main>
      </div>
    </div>
  </div>
  
  <section class="related-post post-wrap py-4">
    <div class="container">
      <div class="section-header d-flex align-items-center justify-content-between">
        <h2 class="section-title text-uppercase">Latest Posts</h2>
      </div>
      <div class="row">
        {% for post in last_post %}
        <div class="col-md-4">
          <article class="post-item">
            <div class="post-image">
              <a href="/blog-details/{{post.id}}/"><img src="{{post.image.url}}" alt="image" class="post-grid-image img-fluid"></a>
            </div>
            <div class="post-content">
              <div class="post-meta text-uppercase">
                <span class="post-category">Fashion /</span>
                <span class="meta-day">{{post.created_at|date:"d M, Y"}}</span>
              </div>
              <h5 class="post-title text-uppercase">
                <a href="/blog-details/{{post.id}}/">{{post.title}}</a>
              </h5>
              <p>{{post.description|safe|slice:":100"}}...</p>
            </div>
          </article>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  
  
{% endblock %}