{% extends 'base.html' %}
{% load static %}
{% block title %}Blog{% endblock title %}
{% block content %}



<section class="hero-section jarallax">
    <img src="{% static 'images/banner-large-1.jpg' %}" class="jarallax-img">
    <div class="py-5">
      <div class="container">
        <div class="row">
          <div class="d-flex flex-wrap flex-column justify-content-center align-items-center my-5 py-5 text-white">
            <h1 class="page-title text-uppercase">Blog</h1>
            <nav class="breadcrumb text-white">
              <a class="breadcrumb-item" href="/">Home</a>
              <span class="breadcrumb-item active" aria-current="page">Blog</span>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <div class="post-wrap my-5 py-5">
    <div class="container">
      <div class="row">
        <main class="post-list post-card-small">
            <div class="row">
                {% for blog in page_obj %}
                <div class="col-md-4">
                  <article class="post-item pb-5">
                    <div class="post-image">
                      <a href="/blog-details/{{blog.id}}/"><img src="{{blog.image.url}}" class="img-fluid" ="fashion"=""></a>
                    </div>
                    <div class="post-content">
                      <div class="post-meta text-uppercase py-3">
                        <span class="post-category">Fashion</span> / <span class="meta-date">{{blog.created_at|date:"d M, Y"}}</span>
                      </div>
                      <h5 class="post-title text-uppercase">
                        <a href="/blog-details/{{blog.id}}/">{{blog.title}}</a>
                      </h5>
                      <p>{{blog.description|safe|slice:":100"}}...</p>
                    </div>
                  </article>
                </div>
              
              {% endfor %}
            </div>

            <nav aria-label="Page navigation" class="d-flex justify-content-center mt-5">
              <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <i class="icon icon-arrow-left"></i>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">
                    <i class="icon icon-arrow-left"></i>
                  </span>
                </li>
                {% endif %}
                
                {% for num in page_obj.paginator.page_range %}
                  {% if page_obj.number == num %}
                    <li class="page-item active" aria-current="page"><span class="page-link">{{ num }}</span></li>
                  {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}
                
                {% if page_obj.has_next %}
                <li class="page-item">
                  <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                    <i class="icon icon-arrow-right"></i>
                  </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                  <span class="page-link">
                    <i class="icon icon-arrow-right"></i>
                  </span>
                </li>
                {% endif %}
              </ul>
            </nav>

        </main>
      </div>
    </div>
  </div>


  
{% endblock %}