{% extends 'base.html' %}
{% load static %}
{% block title %}Contact Us{% endblock title %}
{% block content %}


<section class="py-5">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="page-title pb-2">Contact Us</h1>
        <nav class="breadcrumb fs-6">
          <a class="breadcrumb-item nav-link" href="/">Home</a>
          <span class="breadcrumb-item active" aria-current="page">Contact Us</span>
        </nav>
      </div>
    </div>
  </section>

  <section class="contact-us-wrap py-5">
    <div class="container">
      <div class="row">
        <div class="contact-info col-md-6">
          <h2 class="fs-3 text-uppercase">Contact information</h2>
          <p>Tortor dignissim convallis aenean et tortor at risus viverra adipiscing.</p>
          <div class="page-content">
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Head Office</h5>
                <div class="contact-address">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+123 987 321</a>
                    <a href="#">+123 123 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">kaira@test.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Branch Office</h5>
                <div class="contact-address">
                  <p>730 Glenstone Ave 65802, Springfield, US</p>
                </div>
                <div class="contact-number">
                  <p>
                    <a href="#">+123 987 321</a>
                    <a href="#">+123 123 654</a>
                  </p>
                </div>
                <div class="email-address">
                  <p>
                    <a href="#">contact@yourcompany.com</a>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="content-box">
                <h5 class="element-title text-uppercase">Social info</h5>
                <div class="social-links">
                  <ul class="list-unstyled d-flex flex-wrap gap-3">
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewbox="0 0 24 24"><use xlink:href="#facebook"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewbox="0 0 24 24"><use xlink:href="#twitter"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewbox="0 0 24 24"><use xlink:href="#youtube"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewbox="0 0 24 24"><use xlink:href="#pinterest"></use></svg>
                      </a>
                    </li>
                    <li>
                      <a href="#" class="text-secondary">
                        <svg width="24" height="24" viewbox="0 0 24 24"><use xlink:href="#instagram"></use></svg>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="inquiry-item col-md-6">
          <h2 class="fs-3 text-uppercase">Got any questions?</h2>
          <p>Use the form below to get in touch with us.</p>
          <form id="form" class="form-group flex-wrap" method="post" action="">
            {% csrf_token %}
            <div class="form-input col-lg-12 d-flex mb-3">
              <input type="text" name="name" placeholder="Write Your Name Here" class="form-control ps-3 me-3">
              <input type="text" name="email" placeholder="Write Your Email Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="phone" placeholder="Phone Number" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <input type="text" name="subject" placeholder="Write Your Subject Here" class="form-control ps-3">
            </div>
            <div class="col-lg-12 mb-3">
              <textarea placeholder="Write Your Message Here" name="message" class="form-control ps-3" rows="8"></textarea>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-primary btn-lg text-uppercase btn-rounded-none">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-list py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">USA</h5>
            <div class="contact-address">
              <p>730 Glenstone Ave 65802, Springfield, US</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">kaira@test.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">France</h5>
            <div class="contact-address">
              <p>13 Rue Montmartre 75001, Paris, France</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">kaira@test.com</a>
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="content-box">
            <h5 class="element-title text-uppercase">Office</h5>
            <div class="contact-address">
              <p>18 Chapel Brow PR25 3NE, Leyland, UK</p>
            </div>
            <div class="contact-number">
              <p>
                <a href="#">+123 987 321</a>
                <a href="#">+123 123 654</a>
              </p>
            </div>
            <div class="email-address">
              <p>
                <a href="#">kaira@test.com</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}